*{
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

nav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sidebar */
.sidebar{
  grid-column: 1;
  position: sticky;
  top: 0;
  
  height: 100vh;
  width: 260px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  padding: 25px 20px;
  background: var(--bgColor2);
}
.bx.bx-cupcake{
  color: var(--red);
  font-size: 42px;
  border-radius: 50%;
}

.sidebar-header{
  display: flex;
  align-items: center;
}
.sidebar-header h1{
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0px 0px 18px;
}
.sidebar ul h2{
  font-weight: 500;
  margin: 10px 0;
  white-space: nowrap;
}
.sidebar ul{
  list-style: none;
  margin: 20px 0px 20px 0px;
  overflow-y: auto;
  scrollbar-width: none;
}
.sidebar ul li{
  margin: 0;
  width: 100%;;
}
.sidebar ul li a{
  position: static;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0 20px;
  padding: 15px 20px;
  white-space: nowrap;
}.sidebar ul li a:hover::after{
  width: 0;
}

.sidebar ul li a:hover{
  background: var(--red);
  color: var(--white);
  border-radius: 6px;
}
.active{
  background: var(--darkRed);
  color: var(--white);
  border-radius: 6px;
}
.sidebar ul li a.active:hover{
  background: var(--darkRed);
  color: var(--white);
  border-radius: 6px;
}

.user-account{
  margin: auto;
  padding: 12px 10px;
  margin-left: -10px;
}
.user-profile{
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit:cover;
  object-position: center;
}
.user-profile h3{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.user-profile h4{
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--gray-light);
}
.user-details{
  margin-left: 23px;
  white-space: nowrap;
}

/* grid column 2 */
.grid-column-2{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* header */
header{
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it stays above other content */
  background: var(--bgColor);
  
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 260px;
}
header.scrolled{
   padding-top: 30px !important;
}
header form{
  
 width: 50%;

}
.searchbar-wrapper{
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 600px;
}
.searchbar-wrapper i{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
}
#search-bar{
  padding: 14px 20px 14px 50px;
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border-color: #6C646E;
  border-radius: 25px;
  background-color: var(--inputGray);
  border: 0;
  box-sizing: border-box;
}#search-bar:focus {
  outline: none;
  border-color: var(--red);
  box-shadow: 0 2px 12px rgba(255, 87, 87, 0.15);
  width: 100%;
}
header nav ul{
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul li{
  margin: 0;
  width: fit-content;
  text-align: center;
}
header nav ul li a{
  position: static;
}
header nav ul li .user-account{
  padding: 0;
}
.header-user-info{
  margin-left: 10px;
}


/* main */
main{
  
}