*{
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

nav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure{
  margin: 0;
}

h3{
  margin: 0;
  font-size: 23px;
}

/* sidebar */
.sidebar{
  grid-column: 1;
  position: sticky;
  top: 0;
  
  height: 100vh;
  width: 260px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  padding: 25px 20px;
  background: var(--bgColor2);
}
.bx.bx-cupcake{
  color: var(--red);
  font-size: 42px;
  border-radius: 50%;
}

.sidebar-header{
  display: flex;
  align-items: center;
}
.sidebar-header h1{
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0px 0px 18px;
}
.sidebar ul h2{
  font-weight: 500;
  margin: 10px 0;
  white-space: nowrap;
}
.sidebar ul{
  list-style: none;
  margin: 20px 0px 20px 0px;
  overflow-y: auto;
  scrollbar-width: none;
}
.sidebar ul li{
  margin: 0;
  width: 100%;;
}
.sidebar ul li a{
  position: static;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0 20px;
  padding: 15px 20px;
  white-space: nowrap;
}.sidebar ul li a:hover::after{
  width: 0px;
}

.sidebar ul li a:hover{
  background: var(--red);
  color: var(--white);
  border-radius: 6px;
}
.active{
  background: var(--darkRed);
  color: var(--white);
  border-radius: 6px;
}
.sidebar ul li a.active:hover{
  background: var(--darkRed);
  color: var(--white);
  border-radius: 6px;
}

.user-account{
  margin: auto;
  padding: 12px 10px;
  margin-left: -10px;
}
.user-profile{
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit:cover;
  object-position: center;
}
.user-profile h3{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.user-profile h4{
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--gray-light);
}
.user-details{
  margin-left: 23px;
  white-space: nowrap;
}

/* grid column 2 */
.grid-column-2{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
}

/* header */
header{
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it stays above other content */
  background: var(--bgColor);
  
  padding: 10px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 260px;
}

header form{
  
 width: 50%;

}
.searchbar-wrapper{
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 600px;
}
.searchbar-wrapper i{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
}
#search-bar{
  padding: 14px 20px 14px 50px;
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border-color: #6C646E;
  border-radius: 25px;
  background-color: var(--inputGray);
  border: 0;
  box-sizing: border-box;
}#search-bar:focus {
  outline: none;
  border-color: var(--red);
  box-shadow: 0 2px 12px rgba(255, 87, 87, 0.15);
  width: 100%;
}
header nav ul{
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul li{
  margin: 0;
  width: fit-content;
  text-align: center;
}
header nav ul li a{
  position: static;
}header nav ul li a:hover::after{
  width: 0;
}
header nav ul li .user-account{
  padding: 0;
}
.header-user-info{
  margin-left: 10px;
}


/* main */
section{
  padding: 0px;
  margin-top: 30px;
}


/* hero */
.dashboard-hero-section{
  margin: 30px 0px 0px 0px;
}

.dashboard-hero-content {
  display: flex;
  position: relative;
  min-height: 200px;
  border-radius: 16px;
  border: 0;
  overflow: hidden;
}

.hero-content-col-1 {
  padding: 10px 20px 10px 25px;
  position: relative;
  z-index: 2;
  flex: 0 0 65%;
  background: linear-gradient(to right, 
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.8) 85%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.3) 95%,
    rgba(255, 255, 255, 0) 100%);
}
.hero-content-col-1 p{
  font-weight: 400;
}
.hero-content-col-1 h1{
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-content-col-1 button{
  margin: 40px 0px 20px 0px
}

.hero-content-col-2 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 35%;
  z-index: 1;
}

.hero-content-col-2 figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}

.hero-content-col-2 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -100px;
  border: none;
}

/* products section  */
main h2{
  font-size: 36px;
}
.dashboard-product-section{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
}

/* category and trending wrapper */
.product-subsection{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}
.heading-nav a{
  color: var(--darkRed);
}

.category-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

figcaption{
  font-family: "Merienda", "cursive";
}

.category{
  overflow: hidden;
  
  flex: 1;
}
.category figure{
  overflow: hidden;
  min-width: 170px;
  max-width: 100%;
  height: 170px;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 18px;
}
.category figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -50px;
  transition: all 0.3s ease;
}
.category figcaption{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.category figure:hover figcaption{
  padding: 6.5px 0;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}
.category figure img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}



/* trending products*/
.trending-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}

.wide-container{
  background: var(--white);
  border-radius: 20px;
}

.wide-container figure{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-container{
  overflow: hidden;
  min-width: 120px;
  max-width: 100%;
  height: 100px;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wide-container figure figcaption{
  width: 100%;
  padding: 14px;
}

figcaption p{
  font-weight: bold;
  font-size: 18px;
}

.php-symbol{
  color: #0a9233;
}

/* cart */
.cart-subsection{
  width: 100%;
  display: flex;
  flex-direction: column;
}