dialog{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  cursor: default;
  border-color: var(--gray);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content{
  background-color: var(--white);
  box-shadow: 0 10px 30px rgba(62, 39, 35, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  position: relative;
  border-radius: 14px;
  border: 0;
  overflow: hidden;
}
.modal-image{
  overflow: hidden;
  position: relative;
  text-align: center;
  aspect-ratio: 4/5.5;
  width: 100%;
  height: 100%;
}
.register-figure{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  position: relative;
}
.register-figure img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
  flex-basis: 70%;
  padding: 20px 30px 20px 30px;
}
.form-container h2{
  font-size: 28px;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
  text-align: center;
  position: relative;
}
.form-container h2::after{
  content: '';
  width: 74%;
  height: 4px;
  background: var(--red);
  position: absolute;
  left: 13%;
  bottom: -20px;
  border-radius: 20px;
}
.form-container form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 25px;
  box-sizing: border-box;
}.form-container form input{
  padding: 12px 26px;
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  border-color: #6C646E;
  border: 0;
  border-radius: 25px;
  border-top-left-radius: 7px;
  background-color: var(--inputGray);
  width: 100%;
}
.form-container form input:focus{
  outline: 2px solid var(--blue);
  box-shadow: 0 0 5px var(--brown);
}
.form-container form .error-message{
  color: var(--red);
  font-size: 14px;
  height: 18px;
  margin-top: -15px;
  text-align: center;
}.form-container form .cta-button{
  width: 120%;
}
.form-container p{
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
}
.form-container p a{
  color: var(--darkRed);
  text-decoration: none;
  font-weight: 400;
  margin-left: 5px;
  transition: all 0.3s ease;
  display: inline-block
}
.form-container p a:hover{
  text-decoration: underline;
  transform: translateX(5px) scale(1.1);
  
  transition: all 0.3s ease-in-out;
}

.remember-checkbox{
  display: flex;
  flex-direction: row;
  align-items:start;
  justify-content: space-between;
  text-align: center;
  align-self: flex-start;
  margin-left: -20px;
}
label[for="remember_me"]{
  font-size: 16px;
  color: var(--gray);
  margin-top: 1px;
}
.remember-checkbox input[type="checkbox"]{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  accent-color: var(--darkRed);
}
#login-modal .modal-content .modal-image {
  aspect-ratio: 4/4;
}

.password-wrapper{
  position: relative;
  width: 100%;
  margin-left: -54px;
}

.toggle-password{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-40%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: var(--darkRed);
  padding: 0px;
}

form .password-hint{
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-light);
  margin: 0;
  align-self: flex-start;
  margin-top: -20px;
  margin-bottom: 5px;
}

form #password-error{
  align-self: flex-start;
  margin: 0;
  margin-top: -20px;
}