:root{
  --gray: #454043;
  --red: #e22028; 
  --bgColor: #fcfff2;
  --darkRed: #a80c11;
  --gray-light: #6C646E;
  --pinkishRed: #E22028B5;
  --white: #FFFFFF;
  --inputGray: #4540431f;
  --blue: #3b99fc;
  --bgColor2: #fff5ec;
}

*{
  box-sizing: border-box;
}

html{
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bgColor);
  color: var(--gray);
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4{
  font-family: "Merienda", "cursive";
  color: rgb(69, 64, 67);
}

p{
  font-weight: bold;
}

a{
  text-decoration: none;
}

/* header */

.contact-wrapper{
  width: 100%;
  height: fit-content;
  background: var(--bgColor2);
}

.contact-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px 0 15px 0;
}
.description-item{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.description-item dt{
  font-size: 14px;
  color: var(--gray-light);
  font-weight: 500;
}
dd{
  margin: 0;
  font-weight: 700;
}
#header-address{
  font-style: normal;
}

nav ul li a{
  color: var(--gray);
  font-size: 17px;
  
  position: relative;
}

nav{
  padding: 0 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}nav ul{
  padding: 0;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--red);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s ease;
}

nav ul li a:hover::after{
  width: 100%;
}

.title{
  font-weight: bolder;
  font-size: 24px;
   transition: 0.3s ease-in-out;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}.title:hover{
  scale: 1.1;
  transition: 0.3s ease-in-out;
}.title i{
  color: var(--red);
  font-size: 34px;
}

section{
  padding: 10px 10%;
}

.section-heading{
  font-size: 43px;
}

.cta-button{
  font-family: "Lato", "sans-serif";
  display: block;
  width: fit-content;
  padding: 15px 15px;
  text-decoration: none;
  color: var(--white);
  background: var(--red);
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  border-top-left-radius: 4px;
  transition: background 0.4s ease;
  cursor: pointer;
}
.cta-button:hover{
  background: var(--darkRed);
  transition: background 0.4s ease;
}
/* hero  */

.hero-section{
  padding: 90px 0 160px 0;
  background-image: url('../images/pichapie.webp'), url('./images/pichapie.png');
  background-repeat: no-repeat;
  background-size: 100%;
  
}.hero-content{
  padding: 0px 0px 100px 150px;
}
#hero-heading{
  font-size: 85px;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero-content p{
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
}

/* about */

.divider {
    margin-bottom: 30px;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}
.divider.custom-shape-divider-top-1769089356{
  margin-top: -50px;
}


.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: auto;
    transform: scaleY(-1);
}
.divider.custom-shape-divider-top-1769089356 svg{
  position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: auto;
    transform: scaleY(1);
}

.divider .shape-fill {
    fill: var(--bgColor2);
}
.divider.custom-shape-divider-top-1769089356 .shape-fill{
  fill: var(--bgColor);
}


.about-section{
  padding: 0px;
  width: 100%;
  position: relative;
}
.about-content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
#about-heading{
  position: relative;
}
#about-heading::after{
  content: '';
  width: 74%;
  height: 7px;
  background: var(--red);
  position: absolute;
  left: 13%;
  bottom: -20px;
  border-radius: 20px;
}
#about-subheading{
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-light);
  width: 40%;
  line-height: 34px;
}
/* features */
.features-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 50px;
  margin-bottom: 160px;
}
.feature{
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0 10px 30px rgba(62, 39, 35, 0.3);
}

.feature:nth-child(1){
  animation: float 3s ease-in-out infinite;
}
.feature:nth-child(2){
  animation: float 3s ease-in-out 0.5s infinite;
}
.feature:nth-child(3){
  animation: float 3s ease-in-out 1s infinite;
}
.feature:nth-child(4){
  animation: float 3s ease-in-out 1.5s infinite;
}

@keyframes float {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }

.feature-icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.feature-icon-container svg{
  width: 100px;
  height:100px;
  fill: var(--pinkishRed);
  color: var(--pinkishRed);
}
.feature-icon-container figcaption{
  color: var(--gray);
  font-size: 20px;
  font-weight: bold;
}


/* story */
#story-heading{
  margin: 0;
}
.story-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 120px;
}
.story-content{
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 72%;
  gap: 20px;;
}
.story-col-1{
  width: 100%;
  height: inherit;
  overflow: hidden;
  margin: 0;
  
}.story-col-1 img{
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(62, 39, 35, 0.1);
}

.story-col-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.story-col-2 h3{
  font-size: 26px;
  margin: 0;
  margin-bottom: 24px;
}
.story-col-2 p, .story-col-2 em{
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: var(--gray-light);
}
.story-col-2 em{
  margin-top: 30px;
}
.story-col-2 h4{
  color: var(--red);
  font-size: 22px;
}


/* products */
#products{
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--bgColor2);
}

.products-section h2{
  margin: 0;
  position: relative;
}.products-section h2::after{
  content: '';
  width: 80%;
  height: 2px;
  background: var(--red);
  position: absolute;
  left: 10%;
  bottom: -20px;
  border-radius: 20px;
}


.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
  margin: 70px auto;
}
.product{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  aspect-ratio: 4/4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}.product:hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(62, 39, 35, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-image{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  
}
.product-image img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.product-title{
  font-family: "Merienda", "cursive";
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}
#view-all-products-cta-button{
 width: 415px;
 font-size: 20px;
 background: var(--white);
 color: var(--gray);
 outline: var(--red) solid 2px;
 transition: background 0.2s ease, color 0.4s ease;
}#view-all-products-cta-button:hover{
  background: var(--red);
  color: var(--white);
  outline: none;
  transition: background 0.2s ease, color 0.4s ease;
}


/* custom order section */
#custom{
  padding: 80px;
  padding-top: 140px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: var(--bgColor2);
}
#custom h2{
  margin: 0;
  position: relative;
}#custom h2::after{
  content: '';
  width: 40%;
  height: 7px;
  background: var(--red);
  position: absolute;
  left: 30%;
  bottom: -30px;
  border-radius: 20px;
}
.custom-order-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 0 60px;
}
.custom-col-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 55%;
}
.custom-col-1 h3{
  font-size: 26px;
  margin: 0;
  margin-bottom: 24px;
  width: 70%;
}
.custom-col-1 p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  color: var(--gray-light);
}
.custom-col-2{
  width: 100%;
  height: 100%;
  display: block;
  flex-basis: 45%;
}
.custom-image{
  width: inherit;
  height: auto;
  overflow: hidden;
  margin: 0;
}
.custom-image img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit:cover;
  object-position: center;
}



/* contact section */
#contact{
  padding: 80px;
  padding-top: 150px;
}
.contact-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  gap: 50px;
}
.contact-col-1{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
  position: relative;
  aspect-ratio: 4/4.5;
}.contact-col-1 figure{
  margin: 0;
  width: 100%;
  height: 100%;
}
.contact-col-1 figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.contact-col-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 614px;
  gap: 20px;
  text-align: center;
  background: var(--white);
  border-radius: 10px;
  padding: 40px;
  overflow: hidden;
  box-shadow: 0 10px 50px rgba(62, 39, 35, 0.2);
  box-sizing: content-box;
}
.contact-col-2 h2{
  margin: 0;
  width: 80%;
}
.contact-col-2 p{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-light);
  width: 65%;
  line-height: 28px;
}
.contact-col-2 form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}
.contact-col-2 form input{
  padding: 12px 26px;
  color: var(--gray); 
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border-color: #6C646E;
  border-radius: 25px;
  border-top-left-radius: 7px;
  background-color: var(--inputGray);
  border: 0;
}
.contact-col-2 form input:focus{
  outline: var(--blue) solid 2px;
}
.contact-col-2 form button{
  width: 100%;
  margin-top: 20px;
}


/* footer */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.footer-nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 0px;
}
footer .footer-nav ul li a{
  position: static;
}
.footer-nav ul li a i{
  font-size: 24px;
  color: var(--red);
  transition: all 0.3s ease;
}
.footer-nav ul li a i:hover{
  color: var(--darkRed);
  transform: scale(1.2);
  transition: all 0.3s ease;
}
footer p{
  font-weight: 400;
  color: var(--red);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin-bottom: 30px;
}

/*  forms borderbox*/
form *{
  box-sizing: border-box;
  position: relative;
}

/* autofill inputs */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--gray) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--inputGray) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* For autocomplete text */
input::first-line {
  color: var(--gray) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

/****** back to top button **********/
#back-to-top{
  background: var(--red);
  position: fixed; 
  bottom: 20px; 
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  scale: 0;
  transition: 0.3s ease;
}
#back-to-top svg path{
  fill: var(--bgColor);
}