nav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 25px 20px;
  background: var(--bgColor2);
}.sidebar:hover{
  width: 260px;
}
.bx.bx-cupcake{
  color: var(--red);
  font-size: 42px;
  border-radius: 50%;
}

.sidebar-header{
  display: flex;
  align-items: center;
}
.sidebar-header h1{
  font-size: 20px;
  font-weight: 600;
  margin-left: 18px;
}
.sidebar ul h2{
  font-weight: 500;
  margin: 10px 0;
  white-space: nowrap;
  color: var(--gray-light);
}
.sidebar ul li{
  margin: 0;
  width: 100%;;
}
.sidebar ul li a{
  position: static;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0 20px;
  padding: 15px 20px;
  white-space: nowrap;
  
}
.active{
  background: var(--red);
  color: var(--white);
  border-radius: 6px;
}
.sidebar ul li a:hover{
  background: var(--red);
  color: var(--white);
  border-radius: 6px;
}

.user-account{
  margin: auto;
  padding: 12px 10px;
  margin-left: -10px;
}